:root {
  --training: #805159;
  --takingTheStairs: #A3C4CB;
  --reading: #E2C6E2;
  --study: #FFE1A8;
  --eatHealthy: #CED0AC;
  --goToBedEarly: #5bb2c2;
  --wakeUpEarly: #bf6394;
  --noSocialMedia: #C89E98;
  --noSmoking: #B0B6D8;
  --meditation: #A3CBB1;
}
.training {
  color: var(--training);
}

.takingTheStairs {
  color: var(--takingTheStairs);
}

.reading {
  color:  var(--reading);
}

.study {
  color: var(--study);
}

.eatHealthy {
  color: var(--eatHealthy);
}

.goToBedEarly {
  color: var(--goToBedEarly);
}

.wakeUpEarly {
  color: var(--wakeUpEarly);
}

.noSocialMedia {
  color: var(--noSocialMedia);
}

.noSmoking {
  color: var(--noSmoking);
}

.meditation {
  color: var(--meditation);
}

/* Background color for icons*/

.bgtraining {
  background-color: var(--training);
}

.bgtakingTheStairs {
  background-color: var(--takingTheStairs);
}

.bgreading {
  background-color: var(--reading);
}

.bgstudy {
  background-color: var(--study);
}

.bgeatHealthy {
  background-color: var(--eatHealthy);
}

.bggoToBedEarly {
  background-color: var(--goToBedEarly);
}

.bgwakeUpEarly {
  background-color: var(--wakeUpEarly);
}

.bgnoSocialMedia {
  background-color: var(--noSocialMedia);
}

.bgnoSmoking {
  background-color: var(--noSmoking);
}

.bgmeditation {
  background-color: var(--meditation);
}
