* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: #472d30;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.3;
}

h3 { /* day */
  margin: 1rem;
  width: 110px;
  color: rgb(158, 119, 119);
}

.fa-caret-left {
  margin-top: 2rem;
  margin-left: 2rem;
}

.fas:hover {
  cursor: pointer;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  grid-gap: 1.875rem;
  margin-top: 2rem;
  margin-left: 2.2rem;
  padding: 1275rem, 1.875rem;
}

.container h2 {
  height: 100px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  max-width: 100px;
}

.container i {
  margin-top: 1rem;
}


.habit-item {
  z-index: 200;

  position: relative;
  height: 129px;
  width: 129px;
  
  color: #fff;
  border-radius: 100%;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habit-item:hover {
  cursor: pointer;
}

.habit-title {
  position: absolute;
  color: #472d30;
  font-weight: bold;
  font-size: 0.7rem;
  position: absolute;
  top: 135px;
}

/* when a habit is complete */
.done {
  opacity: 0.5;
}

.check {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 2rem;
  color: black;
}

.erase {
  position: absolute;
  color: black;
  top: -10px;
  right: -4px;
  display: none;
}

.wrapper:hover .erase {
  display: inline-block;
  cursor: pointer;
}

.go-to {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

#addCircle {
  opacity: 0.4;
  background-color: rgb(197, 197, 219);
}

#addCircle h2 {
  background-color: rgb(197, 197, 219);
}

#addCircle a:active,
#addCircle a:visited,
#addCircle a:link {
  text-decoration: none;
  color: gray;
}

#addCircle:hover {
  opacity: 0.6;
}

/*used the same as Emilia here*/
@media only screen and (min-width: 500px) {
  body {
    width: 400px;
    margin: 0 auto;
  }
  header,
  footer {
    width: 400px;
  }
}
