* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body,
header {
  width: 400px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;

}

body {
  min-height: 100vh;
  align-items: center;
}

header {
  background-image: linear-gradient(100deg, #aa767f, #bb737f, #dd8997);
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 400px;
  height: 45px;
  color: white;
  padding: 0.5rem;
  display: inline-block;
  justify-content: space-between;
}

nav {
  color: white
}

nav i {
  z-index: 600;
}

a {
  text-decoration: none;
}

.menu {
  font-size: 1.2rem;
  position: absolute;
  right: 17px;
  top: 11px;
}

.hidden {
  display: none;
}

.drop-down {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 500;

  list-style: none;

  height: fit-content;
  width: 210px;

  font-size: 1rem;
  background-color: #79c2cf;
  border-radius: 5px;
  padding-top: 40px;
  padding: 15px;
}

.drop-down li:hover {
  opacity: 0.5;
}

.drop-down li {
  text-emphasis: 2em;
  color: white;
  text-align: left;
  line-height: 1.5rem;
}

footer {
  color: #fff;
  background-image: linear-gradient(to top, #79c2cf, rgb(104, 181, 201) 33%);
  position: fixed;
  bottom: 0px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  min-height: 40px;
}

footer a:link, footer a:visited, footer a:active {
  color: #fff;
}

@media only screen and (min-width: 500px) {
  body {
      width: 400px;
      margin: 0 auto;
  }
  header,
  footer {
      width: 400px;
  }
}
