
.training {
  color: #805159;
}

.takingTheStairs {
  color: #a3c4cb;
}

.reading {
  color: #e2c6e2;
}

.study {
  color: #ffe1a8;
}

.eatHealthy {
  color: #ced0ac;
}

.goToBedEarly {
  color: #e16452;
}

.wakeUpEarly {
  color: #f3a0f0;
}

.noSocialMedia {
  color: #c89e98;
}

.noSmoking {
  color: #b0b6d8;
}

.meditation {
  color: #a3cbb1;
}

/* Background color for icons*/

.bgtraining {
  color: #805159;
}

.bgtakingTheStairs {
  color: #a3c4cb;
}

.bgreading {
  color: #e2c6e2;
}

.bgstudy {
  color: #ffe1a8;
}

.bgeatHealthy {
  color: #ced0ac;
}

.bggoToBedEarly {
  color: #e16452;
}

.bgwakeUpEarly {
  color: #f3a0f0;
}

.bgnoSocialMedia {
  color: #c89e98;
}

.bgnoSmoking {
  color: #b0b6d8;
}

.bgmeditation {
  color: #a3cbb1;
}


