* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: #472d30;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #472d30;
}

a:hover {
  color: #fff;
  opacity: 0.3;
}

body {
  width: 400px;
  background-color: #c9cba3;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  padding: 1.25rem 1.875rem;
}

.overview-title {
  color: #472d30;
  font-size: 1rem;
  padding-bottom: 2rem;
}

h3 {
  margin: 0 1rem;
  width: 110px;
}

.container h2 {
  background-color: #e26d5c;
  height: 100px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  max-width: 100px;
}

.container i {
  margin-top: 1rem;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  grid-gap: 1.875rem;
}

.container div {
  z-index: 200;

  position: relative;
  height: 129px;
  width: 129px;
  background-color: #e26d5c;
  color: #fff;
  border-radius: 100%;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* added to hide divs when not selected */
.hidden {
  display: none;
}

/* when a habit is complete */
.done {
  opacity: 0.5;
}

.check {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 2rem;
  color: black;
}

.habit-title {
  position: absolute;
  color: #472d30;
  font-weight: bold;
  font-size: 0.7rem;
  position: absolute;
  top: 135px;
}

/* When you completed a task */
.task_completed {
  position: absolute;
  top: 100px;
  z-index: 300;
  width: 90%;
  height: 80%;
  background: red;
  border-radius: 15px;
  padding: 2rem;
  -webkit-animation: fadeinout 1.5s linear forwards;
  animation: fadeinout 1.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

footer {
  position: relative;
  bottom: 0px;
  padding-top: 2rem;
  color: #472d30;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.go-to {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #472d30;
  font-weight: bold;
  font-size: 0.7rem;
  padding-right: 15px;
}

/*used the same as Emilia here*/

@media only screen and (min-width: 500px) {
  body {
    width: 400px;
    margin: 0 auto;
  }

  footer {
    width: 400px;
  }
}
