* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: #472d30;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #472d30;
}

a:hover {
  color: #fff;
  opacity: 0.3;
}

body {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(100deg, #aa767f, #bb737f, #dd8997); */
  background-repeat: no-repeat;
  align-items: center;
  /* padding: 1.875rem 0; */
}

.hidden {
  display: none;
}

.overview-title {
  color: #fff;
  font-size: 1rem;

  padding-bottom: 2rem;
}

h3 {
  margin: 0 1rem;
  width: 110px;
  color: rgb(158, 119, 119);
}

.fa-caret-left {  
  margin-left: 2rem;
}

.fas:hover {
  cursor: pointer;
}
.container h2 {
  height: 100px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  max-width: 100px;
}

.container i {
  margin-top: 1rem;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  grid-gap: 1.875rem;
  margin-top: 2rem;
  margin-left: 2.2rem;
  padding: 1275rem, 1.875rem;
}

.habit-item {
  z-index: 200;

  position: relative;
  height: 129px;
  width: 129px;
  /* background-color: #e26d5c; */
  color: #fff;
  border-radius: 100%;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habit-item:hover {
  cursor: pointer;
}

/* added to hide divs when not selected */
.hidden {
  display: none;
}

/* when a habit is complete */
.done {
  opacity: 0.5;
}

.check {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 2rem;
  color: black;
}

.erase {
  position: absolute;
  color: black;
  top: -10px;
  right: -4px;
  display: none;
}

.wrapper:hover .erase {
  display: inline-block;
  cursor: pointer;
}

.habit-title {
  position: absolute;
  color: #472d30;
  font-weight: bold;
  font-size: 0.7rem;
  position: absolute;
  top: 135px;
}


footer {
  position: fixed;
  width: 400px;
  bottom: 0px;
  padding-top: 2rem;
  color: #472d30;
  display: grid;
  grid-gap: 15rem;
  grid-template-columns: repeat(2, 1fr);
} 

 .go-to {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #472d30;
  font-weight: bold;
  font-size: 1rem;
  padding-right: 15px;
}


#addCircle {
  opacity: 0.4;
  background-color: rgb(197, 197, 219);
}

#addCircle h2 {
  background-color: rgb(197, 197, 219);


}

#addCircle a:active,
#addCircle a:visited,
#addCircle a:link {
  text-decoration: none;
  color: gray;
}

#addCircle:hover {
  opacity: 0.6;
}

/*used the same as Emilia here*/
@media only screen and (min-width: 500px) {
  body {
      width: 400px;
      margin: 0 auto;
  }
  header,
  footer {
      width: 400px;
  }
}
