body {
    align-items: center;
    display: block;
}

.habit_1 {
    color: #805159;
}

.habit_2 {
    color: #A3C4CB;
}

.habit_3 {
    color: #E2C6E2;
}

.habit_4 {
    color: #FFE1A8;
}

.habit_5 {
    color: #CED0AC;
}

.habit_6 {
    color: #E16452;
}

.habit_7 {
    color: #F3A0F0;
}

.habit_8 {
    color: #C89E98;
}

.habit_9 {
    color: #B0B6D8;
}

.habit_10 {
    color: #A3CBB1;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

table {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 5rem 1rem;
}

th {
    font-size: 1.5rem;
    text-align: center;
}

.days {
    border: solid 1px;
    border-radius: 50%;
    color: rgb(245, 112, 112);
}

.home {
    position: absolute;
    bottom: 0;
    left: 5vh;
}

.activity {
    position: absolute;
    bottom: 0;
    right: 5vh;
    margin-top: 5vh;
    float: right;
    color: rgb(245, 112, 112);
}