* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, header {
        font-family: 'Poppins', sans-serif; 

}

   header {
    display: flex;
    align-items: center;
    flex-direction: column; 
    }

.back_x {
       font-size: 35px;
       display: inline-block; 
       position: relative;
       top:10px;
        left:20px;
        color: #505074;
    }
    

    
.habit_container {
      display: flex;
    align-items: center;
    flex-direction: column;
 background: linear-gradient(100deg, #805159, #bb737f, #dd8997);
     height: 175px;
    width: 175px;
    border-radius: 50%;
    margin: 100px 0 20px 0;

}
    .habit_icon {
    display: flex;
    justify-content: center;
    padding: 59px 0;
     font-size: 50px;
     color: white;
     
    }


      h2 {
    font-size: 20px;
    color: #bb737f;
    margin: 0 20px 0 0;
        display: flex;
    align-items: center;


}
      main {
           display: flex;
    align-items: center;
        flex-direction: column;


      }

      .habit_text {
        text-align: center;
          width: 250px;
          line-height: 25px;
          margin: 55px 0 25px 0;
          font-size: 14px;
           
          
      }

      .selecttime {
         text-align: center;
          margin: 0px;
            border: none;

      }

      .selecttime_dropdown {
        width: 250px;
        min-width: 15ch;
        border: none;
        border-radius: 0.25em;
        padding: 0.40em 0.40em;
    
        font-size: 14px;
        cursor: pointer;
        line-height: 1.1;
        background-image: linear-gradient(to top, #79c2cf, rgb(104, 181, 201) 33%);

      }

  #selecttime_button {
        background-image: linear-gradient(to top, #79c2cf, rgb(104, 181, 201) 33%);
        padding: 0.54em 0.54em;       
        border-radius: 0.25em;
        border: none;
  }


@media only screen and (min-width: 500px) {

    body {
        width: 400px;
        margin: 0 auto;
    }

    header, footer {
        width: 400px;
    }
}; 


