* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --habit_1-color: #805159;
    --habit_2-color: #A3C4CB;
    --habit_3-color: #E2C6E2;
    --habit_4-color: #FFE1A8;
    --habit_5-color: #CED0AC;
    --habit_6-color: #5bb2c2;
    --habit_7-color: #bf6394;
    --habit_8-color: #C89E98;
    --habit_9-color: #B0B6D8;
    --habit_10-color: #A3CBB1;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: linear-gradient(100deg, #aa767f, #bb737f, #dd8997);
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.menu {
    font-size: 1.2rem;
}

.menu:hover .hidden {
    display: inline-block;
}

.drop-down {
    position: absolute;
    right: 0px;
    top: 45px;
    height: 130px;
    width: 300px;
    font-size: 1.2rem;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
}

.drop-down li {
    padding-bottom: 5px;
}

main {
    margin-top: 50px;

}

h2 {
    padding-left: 10%;
}

#select_habit_list {
    margin-left: 1rem;
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

#select_habit_list li {
    line-height: 1.4;
    border-radius: 6px;
    margin: 0.5rem 0;
    padding: 0.9rem;
    padding-left: 0.6rem;
}

nav a:active,
nav a:visited,
nav a:link,
#select_habit_list a:active,
#select_habit_list a:visited,
#select_habit_list a:link {
    color: black;
    text-decoration: none;
}

#select_habit_list li:hover {
    opacity: 0.5;
    cursor: pointer;
}

#select_habit_list i {
    padding-right: 2em;
    align-self: center;
    width: 40px;
}

i {
    font-size: 1.9rem;
}

.habit_1 i {
    color: var(--habit_1-color);
}

.habit_2 i {
    color: var(--habit_2-color);
}

.habit_3 i {
    color: var(--habit_3-color);
}

.habit_4 i {
    color: var(--habit_4-color);
}

.habit_5 i {
    color: var(--habit_5-color);
}

.habit_6 i {
    color: var(--habit_6-color);
}

.habit_7 i {
    color: var(--habit_7-color);
}

.habit_8 i {
    color: var(--habit_8-color);
}

.habit_9 i {
    color: var(--habit_9-color);
}

.habit_10 i {
    color: var(--habit_10-color);
}

footer {
    background-image: linear-gradient(to top, #79c2cf, rgb(104, 181, 201) 33%);
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 1.25rem;
    padding: 0.2rem 1rem;
}

.fas {
    color: white;
}

#icon {
    font-size: 5rem;
    margin-top: 30%;
    border: 5px solid var(--habit_1-color);
    border-radius: 50%;
    padding: 10%;
}

.selected {
    margin-top: 20px;
    font-size: 1.5rem;
}

.testClass {
    font-weight: 900;
}

@media only screen and (min-width: 500px) {
    body {
        width: 400px;
        margin: 0 auto;
    }
    header,
    footer {
        width: 400px;
    }
}

;